body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.custom-select {
  width: 250px;
  display: inline;
  margin-left: 300px;
}

.custom-select2 {
  width: 250px;
  display: inline;
}

#lab2-div {
  display: none;
}

.select-label {
  margin-left: 45px;
  margin-top: 10px;
}